body {
    padding: 0px;
    margin: 0px;
}

div.flexbox {
    display: flex;
    flex-direction: column;
}

/* All ements contained in header */
header {
    width: 100vw;
    height: 120px;
    display: block;

}

div.logo {
    width: fit-content;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 24px;
    background-color: white;
    background-color: rgb(202, 202, 202);
    display: inline;
    float: inline-start;
}

p.loginRegister {
    position: relative;
    top: 40px;
    float: left;
    padding-left: 20px;
}

div.topLeftNav {
    padding: 20px;
}

p.topRightNav {
    float: right;
    padding-right: 10px;

}


/* All ements contained in nav */
nav {
    display: block;
    float: left;
    background-color: rgb(202, 202, 202);
    padding: 14px;
}

/* All ements contained in main */
main {
    padding: 20px;
}

div.catRow1 {
    display: flex;
    flex-direction: row;

}

div.categories {
    width: 300px;
    height: 254px;
    outline-style: solid;
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

div.categories>input {
    height: calc(100%/7);
    width: 100%;
    background-color: white;
    border: none;
    border-bottom: 2px solid gray;
    text-align: left;
    padding-left: 10px;
}

div.imgPromo {
    outline-style: solid;
    position: relative;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

div.imgSelect {
    position: absolute;
    bottom: 0;
    right: 0;
}

div.imgNumber {
    display: inline-block;
    background-color: rgb(202, 202, 202);
    padding: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

div.catRow2 {
    display: inline-block;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}

div.specials {

    display: flex;
    justify-content: space-around;
}

div.specialsProduct {
    text-align: center;
}

p.catRow2title {
    display: block;
}

div.specialsProduct>img {
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
    border-radius: 10%;
}

/* All ements contained in footer*/
footer {
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    border-top: 2px solid black;
}

div.footerColumn {
    margin-left: 80px;
    display: inline-block;
    text-align: left;

}

p.footerTitle {
    font-weight: bolder;
}

p.footerLinks {
    line-height: 6px;
}